.FrameLeftNavbar {
    grid-area: 1 / 1 / 4 / 2;
    background-color: aliceblue;
}

.FrameLeftNavbar ul {
    margin: 0;
    padding: 1em;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.FrameLeftNavbar ul li {
    list-style: none;
}

.FrameLeftNavbar a {
    color: #000;
    text-decoration: none;
}

.FrameRight {
    grid-area: 1 / 3 / 4 / 4;
    background-color: aliceblue;
}

.FrameBottom {
    /* grid-area: 3 / 1 / 4 / 4; */
    position: absolute;
    width: 100vw;
    height: 60px;
    bottom: 0;
    background-color: aliceblue;
    z-index: -1;
}

.FrameTop {
    grid-area: 1 / 1 / 1 / 4;
    display: flex;
    background-color: aliceblue;
}

.FrameTop .logo {
    margin: 0 auto;
}

.FrameTop .logo img {
    height: 60px;
}